.section-title{
    text-align:center;
    margin-bottom:40px;
    font-family:Georgia;
    color:#3B2F2F;
}

.product-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-image{
    width:100%;
    height:320px;
    object-fit:cover;
}

.card-body{
    padding:20px;
}

.card-body h5{
    color:#3B2F2F;
    font-weight:600;
}

.card-body h4{
    color:#A67C52;
    margin:15px 0;
}

.btn-dark{
    background:#3B2F2F;
    border:none;
}

.btn-warning{
    background:#A67C52;
    color:white;
    border:none;
}

.btn-warning:hover{
    background:#8a6444;
    color:white;
}